dl img {
  border:solid;
  border-color:#c3c3c3;
  border-width: 0.8px;

}

#right
{
    border-right: 0.7px solid #c3c3c3;
}
@font-face {
    font-family: 'title_font';
    src: url('tvn_medium.ttf');
}

h2 {
    font-family: title_font;
    font-size:30px;
  }


div.vertical{
width: 100%; height: 20px; border-bottom: 1px solid #c3c3c3; text-align: center;
font-family: title_font;
}

span.vertical{
font-size: 40px; background-color: #ffffff; padding: 0 10px;
}

#colored_line
{
  background-color:red;
  /* 선하나만 색 진하게하려고하는데 왜안돼지 (보류) */
}
