.footer-distributed{
	background-color: #1F1E1D;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 12px kopub_medium;

	padding: 30px 50px;
	margin-top: 80px;
	color:#707171;
}

.footer-links{
	font: 14px kopub_medium;
}

@font-face {
    font-family: 'title_font';
    src: url('tvn_medium.ttf');
}


@font-face {
    font-family: 'kopub_medium';
    src: url('KoPub Dotum Medium.ttf');
}
@font-face {
    font-family: 'kopub_bold';
    src: url('KoPub Dotum Bold.ttf');
}

@font-face {
    font-family: 'kopub_light';
    src: url('KoPub Dotum Light.ttf');
}

hr {border-color:#808080;  }
